<div class="panel panel-danger">
  {{#each model.errors as |error|}}
    <p>{{error.source.pointer}}</p>
    <p>{{error.message}}</p>
  {{/each}}
</div>
<form>
    <fieldset>
        <legend>Basic</legend>
        <div>
            <label for="book-title">Book title</label>
            {{input value=model.title}}
        </div>
        <div>
            <label for="book-author">Author</label>
            <select name="book-author" id="book-author"
                    onchange = {{action "selectAuthor" value="target.value"}}>
              {{#each allAuthors as |author|}}
                <option value="{{author.id}}">{{author.name}}</option>
              {{/each}}
            </select>
        </div>
        <div>
            <label for="book-category">Category</label>
            <select name="book-category" id="book-category" multiple
                    onchange = {{action "selectCategory"}}>
              {{#each allCategories as |category|}}
                <option value="{{category.id}}">{{category.name}}</option>
              {{/each}}
            </select>
        </div>
        <div>
            <label for="book-publisher">Publisher</label>
            <select name="book-publisher" id="book-publisher"
                    onchange = {{action "selectPublisher" value="target.value"}}>
              {{#each allPublishers as |publisher|}}
                <option value="{{publisher.id}}">{{publisher.name}}</option>
              {{/each}}
            </select>
        </div>
        <div>
            <label for="book-edition">Edition</label>
            {{input value=model.edition}}
        </div>
        <div>
            <label for="book-year">Publish Year</label>
            {{input value=model.publish_year}}
        </div>
        <div>
            <label for="book-pages-number">Page numbers</label>
            {{input value=model.page_numbers}}
        </div>
        <div>
            <label for="book-synopsis">Synopsis</label>
            {{textarea value=model.synopsis cols="30" rows="10"}}
        </div>
    </fieldset>
    <fieldset>
        <legend>Dimensions</legend>
        <div>
            <label for="book-height">Height</label>
            {{input value=model.height}}
        </div>
        <div>
            <label for="book-width">Width</label>
            {{input value=model.width}}
        </div>
        <div>
            <label for="book-weight">Weight</label>
            {{input value=model.weight}}
        </div>
        <div>
            <label for="book-depth">Depth</label>
            {{input value=model.depth}}
        </div>
    </fieldset>
    <fieldset>
        <legend>ID</legend>
        <div>
            <label for="book-isbn">ISBN</label>
            {{input value=model.isbn}}
        </div>
        <div>
            <label for="book-barcode">Barcode</label>
            {{input value=model.barcode}}
        </div>
    </fieldset>
    <fieldset>
        <legend>Price Group</legend>
        <div>
            <label for="book-price-group">Group</label>
            <select name="book-price-group" id="book-price-group"
                    onchange = {{action "selectPriceGroup" value="target.value"}}>
              {{#each allPriceGroups as |price_group|}}
                <option value="{{price_group.id}}">{{price_group.markup}}%</option>
              {{/each}}
            </select>
        </div>
    </fieldset>
    <button {{action "createBook"}}>Create book!</button>
</form>
