{{!-- onchange={{action 'selectEntity'}} --}}
{{!-- onchange={{action 'selectCategories'}} --}}
<form>
  <div class="field">
    <label for="book-title" class="label">Title</label>
    {{#bulma-control}}
      {{bulma-input placeholder="Book title" value=book.title id="book-title"}}
    {{/bulma-control}}
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label for="book-author" class="label">Author</label>
        {{#bulma-control}}
          {{book-select-collection collection=bookCollections.authors}}
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-publisher" class="label">Publishers</label>
        {{#bulma-control}}
          {{book-select-collection collection=bookCollections.publishers}}
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-pages" class="label">Page numbers</label>
        {{#bulma-control}}
          {{bulma-input placeholder="Page numbers" value=book.pageNumbers id="book-pages"}}
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-edition" class="label">Edition</label>
        {{#bulma-control}}
          {{bulma-input placeholder="Book edition" value=book.edition id="book-edition"}}
        {{/bulma-control}}
      </div>
    </div>
  </div>
  <div class="field">
    <label for="book-synopsis" class="label">Synopsis</label>
    {{#bulma-control}}
      {{textarea value=book.synopsis class="textarea"}}
    {{/bulma-control}}
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label for="book-height" class="label">Width</label>
        {{#bulma-control class="has-icons-right"}}
          {{bulma-input value=book.width id="book-width" placeholder="15"}}
          <span class="icon is-medium is-right">cm</span>
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-height" class="label">Height</label>
        {{#bulma-control class="has-icons-right"}}
          {{bulma-input value=book.height id="book-height" placeholder="17"}}
          <span class="icon is-medium is-right">cm</span>
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-depth" class="label">Depth</label>
        {{#bulma-control class="has-icons-right"}}
          {{bulma-input value=book.depth id="book-depth" placeholder="5"}}
          <span class="icon is-medium is-right">cm</span>
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-weight" class="label">Weight</label>
        {{#bulma-control class="has-icons-right"}}
          {{bulma-input value=book.weight id="book-weight" placeholder="150"}}
          <span class="icon is-medium is-right">gr</span>
        {{/bulma-control}}
      </div>
    </div>
  </div>
  <div class="field">
    <div class="field-body">
      <div class="field">
        <label for="book-price-group" class="label">Price group</label>
        {{#bulma-control}}
          {{book-select-collection collection=bookCollections.priceGroups isPriceGroup=true}}
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-isbn" class="label">ISBN</label>
        {{#bulma-control}}
          {{bulma-input value=book.isbn id="book-isbn"}}
        {{/bulma-control}}
      </div>
      <div class="field">
        <label for="book-barcode" class="label">Barcode</label>
        {{#bulma-control}}
          {{bulma-input value=book.barcode id="book-barcode"}}
        {{/bulma-control}}
      </div>
    </div>
  </div>
  <div class="field">
    <label for="book-categories" class="label">Categories</label>
    {{#bulma-control}}
      {{book-select-collection collection=bookCollections.categories isMultiple=true}}
    {{/bulma-control}}
  </div>
  <button type="button" class="button is-primary"
          {{action 'saveBtnClick' book}}>{{btnLabel}}</button>
</form>
