<h2>New Book</h2>
<form class="" action="#" method="post">
  <fieldset>
    <legend>Basic</legend>
    <div class="">
      <label for="title">Title</label>
      {{input type="text" value=book.title id="title"}}
    </div>
    <div class="">
      <label for="authors">Author</label>
      <select class="" id="authors" onchange={{action 'selectEntity'}}>
        <option value="">select...</option>
        {{#each authors as |author|}}
          <option value="{{author.id}}">{{author.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="">
      <label for="publishers">Publisher</label>
      <select class="" id="publishers" onchange={{action 'selectEntity'}}>
        <option value="">select...</option>
        {{#each publishers as |publisher|}}
          <option value="{{publisher.id}}">{{publisher.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="">
      <label for="page-numbers">Page numbers</label>
      {{input type="number" value=book.pageNumbers id="page-numbers" min="5"}}
    </div>
    <div class="">
      <label for="edition">Edition</label>
      {{input type="text" value=book.edition id="edition"}}
    </div>
    <div class="">
      <label for="synopsis">Synopsis</label>
      {{textarea value=book.synopsis}}
    </div>
    <div class="">
      <label for="categories">Categories</label>
      <select class="" id="categories" multiple>
        {{#each categories as |category|}}
          <option value="{{category.id}}">{{category.name}}</option>
        {{/each}}
      </select>
    </div>
  </fieldset>
  <fieldset>
    <legend>Dimensions</legend>
    <label for="width">Width</label>
    {{input type="number" value=book.width min="1"}}
    <label for="height">Height</label>
    {{input type="number" value=book.height min="1"}}
    <label for="depth">Depth</label>
    {{input type="number" value=book.depth min="1"}}
    <label for="weight">Weight</label>
    {{input type="number" value=book.weight min="1"}}
  </fieldset>
  <fieldset>
    <legend>ID</legend>
    <label for="isbn">ISBN</label>
    {{input type="text" value=book.isbn}}
    <label for="barcode">Barcode</label>
    {{input type="text" value=book.barcode}}
  </fieldset>
  <fieldset>
    <legend>Markup</legend>
    <label for="price-group">Price group</label>
    <select class="" id="priceGroups" onchange={{action 'selectEntity'}}>
      <option value="">select...</option>
      {{#each priceGroups as |pg|}}
        <option value="{{pg.id}}">{{pg.description}} | {{pg.markup}}%</option>
      {{/each}}
    </select>
  </fieldset>
  <button type="button" {{action 'saveBook' book}}>Save</button>
</form>
